
 
  
  select{
    margin-bottom: 25px;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    border: 20;
    border-color: black;
    
    text-align: center;
    
    
  }

  body{
    background-image: url(rosas.jpg)
    
  }
  input{
    margin-bottom: 25px;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    border: 20;
    border-color: black;
    text-align: center;
 }
  
  
  .container{
    display: flex;
    background-color: beige;
    height: 750px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
    text-align: center;
  }
  .form {
    font-family: 'Courier New', Courier, monospace;
    padding: 30px 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: beige;
    border-radius: 25px;
  }
  
  .form h1,h2{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .button {
    font-family: 'Times New Roman', Times, serif;
    background-color:rosybrown;
    position: relative;
    top: 0;
    padding: 20px;
    text-align: center;
    line-height: 24px;
    width: 200px;
    cursor: pointer;
    margin: auto;
    align-items: center;
    border-radius: 10px;
  }
  
  